@model _23dh113384_MyStore.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2 class="bg-success">Thêm danh mục </h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* Nhung Partal View vao form cha *@
        @Html.Partial("PVCreateEditCategory",Model)
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
