@model _23dh113384_MyStore.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2 class="bg-success">XÓA DANH MỤC </h2>

    
  @using (Html.BeginForm())
  {
        @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h4 class="bg-danger">Bạn thực sự muốn xóa doanh mục này?</h4>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">Tên danh mục </div>
        <div class="col-md-10">
            @* Hiển thị giá trị của CategoryName*@
            @Html.DisplayFor(model => model.CategoryName)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xóa" class="btn btn-primary" />
                @Html.ActionLink("Quay lại danh mục", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    </div>
    }

