@model _23dh113384_MyStore.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT DANH MỤC </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            Tên danh mục 
        </dt>
        @* Giá trị của trường CategoryName *@
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.CategoryID }, new {@class = "btn btn-primary" }) 
    @Html.ActionLink("Quay lại danh mục", "Index", null, new { @class = "btn btn-primary" })
</p>
